<mat-toolbar color="primary">
  <div>
      MajkiRent - Your Dream Car
  </div>

  <div class="navigation_container">
      <button mat-button routerLink="/home">
          <span>Home</span>
      </button>
      <button mat-button routerLink="/cars">
          <span>Cars</span>
      </button>
      <button mat-button routerLink="/contact">
          <span>Contact</span>
      </button>
      <!-- Niezalogowany użytkownik -->
      <button *ngIf="!isLogged" mat-button routerLink="/login">
        <span>Login</span>
      </button>
      <!-- Zalogowany użytkownik -->
      <button *ngIf="isLogged" mat-button routerLink="/myAccount">
        <span>My Account</span>
      </button>
      <!-- IsAdmin -->
      <button *ngIf="isAdmin" mat-button routerLink="/admin">
        <span>Admin Panel</span>
      </button>
      <button *ngIf="isLogged" mat-button>
        <span>Log out</span>
      </button>

  </div>
</mat-toolbar>
<router-outlet></router-outlet>
