<div class="cars-container">
    <div class="cars-list">
        <div class="car-card" *ngFor="let car of cars">
          <mat-card>
            <img mat-card-image [src]="car.imageUrl" alt="{{ car.name }}">
            <mat-card-content>
              <h3>{{ car.name }}</h3>
              <p class="price">od {{ car.price }} zł</p>
              <p class="details">cena netto/doba przy min 30 dniach</p>
              <div class="specs">
                <p>{{ car.acceleration }}</p>
                <p>{{ car.gearbox }}</p>
                <p>{{ car.power }}</p>
                <p>{{ car.seats }}</p>
              </div>
              <button mat-raised-button color="primary" (click)="navigateToDetails(car)">Szczegóły</button>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
</div>


