.cars-container {
    display: flex;
    padding-top: 80px;
    .cars-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        padding: 20px;

        .car-card {
          width: calc(33.333% - 20px); // dla 3 kart w rzędzie z uwzględnieniem odstępu
          display: flex;
          flex-direction: column;
          align-items: center;

          mat-card {
            width: 100%;
            img {
              width: 100%;
              height: auto;
            }

            .car-name{
              margin-top: 20px;
              font-weight: 800;
            }

            .price {
              font-size: 1.5em;
              color: green; // dostosuj kolor
            }

            .details {
              font-size: 0.8em;
              color: grey; // dostosuj kolor
            }

            .specs {
              display: flex;
              justify-content: space-around;

                &__box{
                  display: flex;
                  flex-direction: row;
                  .icon{
                    width: 20px;
                    height: 20px;
                  }

                  p{
                    margin-left: 5px;
                  }
                }

            }

            button {
              margin-top: 20px;
            }
          }
        }
      }
}
