<div class="home-container">
    <div class="main">
        <div class="desc">
            Wypożyczalnia samochodów sportowych i luksusowych
        </div>
        <button mat-raised-button color="primary" class="btn-show-cars" routerLink="/cars">Zobacz wszystkie samochody</button>
        <!-- Zdjecie oraz przyciski pokaz Samochody na dole oraz "Wypożyczalnia samochodów sportowych i luksusowych"  -->
    </div> 
    <div>
        <div class="often-choosen">Najczęsciej wybierane: </div>
        <app-cards-container></app-cards-container>
    </div>
    <div>
        <!-- Dlaczego my? -->
    </div>
    <div>
        Social Media
    </div>

</div>
