<div class="city-container">
  <table mat-table [dataSource]="cities" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let city; let i = index;"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let city"> {{city.name}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let city">
        <button mat-button (click)="deleteCity(city)">Usuń</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="addCity">
      <td mat-footer-cell *matFooterCellDef>
        <form [formGroup]="cityForm" (ngSubmit)="submitForm()" class="city-form">
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput formControlName="name" placeholder="Name">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="!cityForm.valid">Add City</button>
        </form>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['addCity']"></tr>
  </table>
</div>
