<div class="container">
  <div class="car-specification-container">
    <div class="car-specification-body">
      <div class="car-image">
        <img [src]="convertPath(carData.imageCarList[0].filePath)" alt="" class="main-image">
      </div>
      <div class="car-description">
        <h2>Rent a Car Right Now!</h2>
        <h1>Rental {{carData.brand + " " + carData.model.name}}</h1>
        <h3>Customer rating 5/5</h3>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="specification-container">
      <h2>Specification - {{carData.brand + " " + carData.model.name}}</h2>
      <app-specification-grid [carData]="carData"></app-specification-grid>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="isLogged" class="car-availability-container">
      <h2>Availability - {{carData.brand + " " + carData.model.name}}</h2>
      <app-car-reservation [blockedDates]="carData.bookedDays" [costPerDay]="carData.rentPrizePerDay" [cities]="cities" (submitEvent)="addReservation($event)"></app-car-reservation>
    </div>
    <div *ngIf="!isLogged" class="login-required">
      <h1>You must be logged in to reserve a car.</h1>
    </div>
  </div>
</div>

