<div class="user-profile">
  <div *ngIf="!isEditMode" class="user-data">
    <h2>Dane Użytkownika</h2>
    <p><strong>Imię:</strong> {{ userProfile!.person.name  }}</p>
    <p><strong>Nazwisko:</strong> {{ userProfile!.person.surname }}</p>
    <p><strong>Email:</strong> {{ userProfile!.email }}</p>
    <p><strong>Phone:</strong> {{ userProfile!.mobilePhone }}</p>
    <p><strong>Data urodzenia:</strong> {{ userProfile!.person.bornDate | date  }}</p>
    <p><strong>Miasto:</strong> {{ userProfile!.person.city }}</p>
    <p><strong>Kod pocztowy:</strong> {{ userProfile!.person.postCode }}</p>
    <p><strong>Adres:</strong> {{ userProfile!.person.address }}</p>
    <div *ngIf="!isEditMode" class="actions">
      <button mat-raised-button color="primary" (click)="changePassword()">Zmień Hasło</button>
      <button mat-raised-button color="primary"  (click)="editProfile()">Edytuj Dane Profilu</button>
    </div>
  </div>
  <div *ngIf="isEditMode" class="user-data-form">
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="editedUserProfile!.person.name" name="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput [(ngModel)]="editedUserProfile!.person.surname" name="surname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="editedUserProfile!.email" name="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput [(ngModel)]="editedUserProfile!.mobilePhone" name="mobilePhone">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Born Date</mat-label>
        <input matInput [(ngModel)]="editedUserProfile!.person.bornDate" name="bornDate">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="editedUserProfile!.person.city" name="city">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Post Code</mat-label>
        <input matInput [(ngModel)]="editedUserProfile!.person.postCode" name="postCode">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="editedUserProfile!.person.address" name="address">
      </mat-form-field>
      <div class="button-container">
          <button mat-raised-button color="primary" (click)="saveProfile()">Save</button>
          <button mat-raised-button (click)="cancelEdit()" type="button">Cancel</button>
      </div>
    </form>
  </div>
  <div class="rental-history">
    <h2 *ngIf="userProfile.reservationViewList.length != 0">Historia Wynajmu</h2>
    <table *ngIf="userProfile.reservationViewList.length != 0">
      <thead>
        <tr>
          <th>Nazwa Samochodu</th>
          <th>Data Wynajmu</th>
          <th>Data Oddania</th>
          <th>Koszt</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of userProfile.reservationViewList">
          <td>{{ reservation.carName }}</td>
          <td>{{ reservation.rentDate | date }}</td>
          <td>{{ reservation.arrivalDate | date }}</td>
          <td>{{ reservation.costOfRent }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="userProfile.reservationViewList.length ==0" class="no-reservation">
      <h3>Ready for an extraordinary drive?</h3>
      <h3>Experience the thrill of our luxury and sports cars,
         designed for those who demand elegance and power on the road. Click below and elevate your journey with our exclusive fleet today!</h3>
      <button mat-raised-button color="primary" routerLink="/cars">Discover Our Cars</button>
    </div>
  </div>
</div>
