<div class="container">
    <div class="stats">
      <div class="stat-item">
        <span class="stat-value">5,0</span>
        <span class="stat-description">Google's average rating for our services</span>
      </div>
      <div class="stat-item">
        <span class="stat-value">2,7</span>
        <span class="stat-description">Shortest time needed to accelerate to 100</span>
      </div>
      <div class="stat-item">
        <span class="stat-value">24/7</span>
        <span class="stat-description">Availability of our services</span>
      </div>
    </div>
    <div class="passion">
      <h2>A shared passion</h2>
      <p>
        Our performance is characterised by a speed comparable to that of the Nissan GT-R, a symbol of power and precision.
        We have the energy to match the dynamism of the Dodge Challenger, a vehicle with soul and character.
        Our approach to the services we provide is innovative, reminiscent of the philosophy of Porsche, which sets the standard for modernity with its 911. We are passionate about the premium automotive segment,
         and our daily commitment and fascination with the industry motivate us to continuously improve the experience we offer.
        <p>
          We are eager to offer you an experience that you will always remember.
        That's why we're opening the door for you to a world where adrenaline meets awe,
         and excitement mixes with luxury. In this reality, the most technologically advanced and powerful machines on four wheels reign supreme,
          which are now within your reach. We give you a one-click opportunity to join an elite group of lovers of speed and sophisticated style.
           Are you ready to join us and feel that unmistakable thrill?
        Let's embark together on a journey full of unforgettable experiences.
        </p>
    </div>
  </div>
