<mat-toolbar color="primary">
  <div>
      MajkiRent - Your Dream Car
  </div>

  <div class="navigation_container">
      <button mat-button routerLink="/home">
          <span>Home</span>
      </button>
      <button mat-button routerLink="/cars">
          <span>Cars</span>
      </button>
      <button mat-button routerLink="/contact">
          <span>Contact</span>
      </button>

      <button *appHasRole="'ROLE_USER'" mat-button routerLink="/myAccount">
        <span>My Account</span>
      </button>

      <button  *appHasRole="'ROLE_ADMIN'"  mat-button routerLink="/admin">
        <span>Admin Panel</span>
      </button>

      <button *ngIf="!isLogged" mat-button routerLink="/login">
        <span>Login</span>
      </button>

      <button *ngIf="isLogged" (click)="logout()" mat-button>
        <span>Log out</span>
      </button>

  </div>
</mat-toolbar>
