.reservation-container {
  .table-container{
    display: flex;
    flex-direction: column;
    width: 100%;

    table {
      width: 100%;
    }

    .mdc-data-table__header-cell{
      text-align: center;
    }

    .mdc-data-table__cell {
      text-align: center;
    }

    .mat-elevation-z8 {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
