<div class="container">
    <div class="stats">
      <div class="stat-item">
        <span class="stat-value">5,0</span>
        <span class="stat-description">Średnia ocena naszych usług w Google</span>
      </div>
      <div class="stat-item">
        <span class="stat-value">2,7</span>
        <span class="stat-description">Najkrótszy czas potrzebny na przyspieszenie do setki</span>
      </div>
      <div class="stat-item">
        <span class="stat-value">24/7</span>
        <span class="stat-description">Dostępność naszych usług</span>
      </div>
    </div>
    <div class="passion">
      <h2>Wspólna pasja</h2>
      <p>Nasze działania charakteryzuje prędkość porównywalna do osiągów Nissan GT-R, symbolu mocy i precyzji.
        Dysponujemy energią, która może się równać z dynamiką Dodge Challenger, pojazdu z duszą i charakterem.
        Nasze podejście do świadczonych usług jest innowacyjne, przypominające filozofię Porsche, które wyznacza standardy nowoczesności w swoim modelu 911. Jesteśmy pasjonatami segmentu motoryzacyjnego premium, a nasze codzienne zaangażowanie i fascynacja branżą motywują nas do ciągłego doskonalenia oferowanych przez nas doznań.</p>
      <p>Z niecierpliwością pragniemy zaoferować Ci przeżycie, które na zawsze zapadnie w Twojej pamięci.
        Dlatego też otwieramy przed Tobą drzwi do świata, gdzie adrenalina spotyka się z podziwem,
         a ekscytacja miesza z luksusem. W tej rzeczywistości królują najbardziej zaawansowane technologicznie i najmocniejsze maszyny na czterech kołach,
          które teraz są w zasięgu Twojej ręki. Dajemy Ci możliwość jednego kliknięcia, aby dołączyć do elitarnej grupy miłośników prędkości i wyrafinowanego stylu.
           Czy jesteś gotowy, aby przyłączyć się do nas i poczuć ten niepowtarzalny dreszcz emocji?
        Ruszajmy razem w podróż pełną niezapomnianych wrażeń.</p>
    </div>
  </div>