<div class="home-container">
    <div class="main">
        <div class="desc">
          Sports and luxury car rental
        </div>
        <button mat-raised-button color="primary" class="btn-show-cars" routerLink="/cars">View all cars</button>
        <!-- Zdjecie oraz przyciski pokaz Samochody na dole oraz "Wypożyczalnia samochodów sportowych i luksusowych"  -->
    </div>
    <div>
        <div class="often-choosen">Most popular choices: </div>
        <app-cards-container></app-cards-container>
    </div>
    <div>
        <app-why-we-section></app-why-we-section>
    </div>
    <div>
        <app-social-media></app-social-media>
    </div>
</div>
