.car-container {
  display: flex;
  justify-content: space-between;
  height: 95%;

  .form-container {
    padding: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    margin-right: 20px;

    .car-form {
      display: flex;
      flex-wrap: wrap;

      button{
        margin-right: 20px;
      }

      mat-form-field {
        width: 45%;
        background-color: #fff;
        margin-right: 20px;
      }
    }
  }

  .list-container{
    display: flex;
    flex-direction: column;
    width: 100%;

    table {
      width: 100%;
    }

    .mdc-data-table__header-cell{
      text-align: center;
    }

    .mdc-data-table__cell {
      text-align: center;
    }

    .mat-elevation-z8 {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .file-input {
      display: none;
    }
  }


}
