<div class="new-reservation-container">
  <form [formGroup]="rentForm">
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" type="number">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Car ID</mat-label>
      <input matInput formControlName="carId" type="number">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rent Date</mat-label>
      <input matInput [matDatepicker]="rentDatePicker" formControlName="rentDate">
      <mat-datepicker-toggle matSuffix [for]="rentDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #rentDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Arrival Date</mat-label>
      <input matInput [matDatepicker]="arrivalDatePicker" formControlName="arrivalDate">
      <mat-datepicker-toggle matSuffix [for]="arrivalDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #arrivalDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>User ID</mat-label>
      <input matInput formControlName="userId" type="number">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rent City</mat-label>
      <input matInput formControlName="rentCity">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Arrival City</mat-label>
      <input matInput formControlName="arrivalCity">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
  </form>
</div>
