<div class="new-reservation-container">
  <form [formGroup]="rentForm">
    <mat-form-field>
      <mat-label>User</mat-label>
      <mat-select formControlName="userId">
        <mat-option *ngFor="let user of data.users" [value]="user.id">{{ user.person.name + " " + user.person.surname }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Car</mat-label>
      <mat-select formControlName="carId">
        <mat-option *ngFor="let car of data.cars" [value]="car.id">{{ car.brand + " " + car.model.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rent Date</mat-label>
      <input matInput [matDatepicker]="rentDatePicker" formControlName="rentDate">
      <mat-datepicker-toggle matSuffix [for]="rentDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #rentDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Arrival Date</mat-label>
      <input matInput [matDatepicker]="arrivalDatePicker" formControlName="arrivalDate">
      <mat-datepicker-toggle matSuffix [for]="arrivalDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #arrivalDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rent City</mat-label>
      <mat-select formControlName="rentCityId">
        <mat-option *ngFor="let city of data.cities" [value]="city.id">{{ city.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Arrival City</mat-label>
      <mat-select formControlName="arrivalCityId">
        <mat-option *ngFor="let city of data.cities" [value]="city.id">{{ city.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
  </form>
</div>
