<div class="cards-container">
    <button mat-icon-button (click)="showPrev()" [disabled]="firstCardIndex === 0">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div *ngFor="let car of cars.slice(firstCardIndex, firstCardIndex + 4); let i = index" class="card">
      <mat-card (click)="navigateToDetails(car)">
        <mat-card-header>
          <mat-card-title>{{ car.name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="convertPath(car.imageCarList[0].filePath)" alt="{{ car.name }}">
        <mat-card-content>
          <p>{{ car.power }}KM / {{car.torque}} Nm</p>
          <p>Price per day: {{ car.rentPrizePerDay }} $</p>
        </mat-card-content>
      </mat-card>
    </div>

    <button mat-icon-button (click)="showNext()" [disabled]="firstCardIndex >= cars.length - 4">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
