.login-section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .mat-card-custom {
        .mat-card-header-custom {
          background: #fff;
          text-align: center;
          
          h2 {
            margin: 0;
            padding: 16px;
            font-size: 24px;
          }
        }
      
        .mat-card-content-custom {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;
      
          .form-field-custom {
            width: 100%;
            max-width: 600px;
            margin-bottom: 16px;
      
            input {
              font-size: 16px;
            }
            
            mat-label {
              font-size: 16px;
            }
          }
      
          .action-buttons {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 400px;
      
            button, a {
              flex: 1;
              margin: 8px;
            }
          }
        }
      }
    
      ::ng-deep {
        .mat-raised-button {
          border-radius: 4px;
        }
        
        .mat-form-field-appearance-legacy .mat-form-field-infix {
          padding: 0;
        }
        
        .mat-form-field {
          &.example-full-width {
            width: 100%;
          }
        }
      }
}
