.about-us-section {
    background-color: white;
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      
      .heading {
        h2 {
          font-size: 2rem;
          color: #333;
          text-align: center;
        }
      }
      
      .reasons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .reason {
          background-color: #000;
          color: #fff;
          padding: 10px;
          border-radius: 5px;
          
          .number {
            font-size: 3rem;
            font-weight: bold;
          }
          .text {
            font-size: 1rem;
          }
        }
      }
      
      .additional-content {
        // Your additional styling here
      }
    }
  }